<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction and Opening Remarks</td> </tr>
      <tr> <td>09:10</td>  <td>Invited Talk 1</td> </tr>
      <tr> <td>09:40</td>  <td>Invited Talk 2</td> </tr>
      <tr> <td>10:10</td>  <td>Coffee Break</td> </tr>
      <tr> <td>10:15</td>  <td>Contributed Talk 1: Federated Learning with Taskonomy for Non-IID Data</td> </tr>
      <tr> <td>10:27</td>  <td>Contributed Talk 2: Privacy Amplification via Iteration for Shuffled and Online PNSGD </td> </tr>
      <tr> <td>10:39</td>  <td>Contributed Talk 3: TenSEAL: A Library for Encrypted Tensor Operations Using Homomorphic Encryption</td> </tr>
      <tr> <td>10:51</td>  <td>Contributed Talk 4: Smoothness Matrices Beat Smoothness Constants: Better Communication Compression Techniques for Distributed Optimization</td> </tr>
      <tr> <td>11:03</td>  <td>Contributed Talk 5: Performance Weighting for Robust Federated Learning Against Corrupted Sources</td> </tr>
      <tr> <td>11:15</td>  <td>Poster Session and Coffee Break</td> </tr>
      <tr> <td>12:15</td>  <td>Invited Talk 3</td> </tr>
      <tr> <td>12:45</td>  <td>Invited Talk 4</td> </tr>
      <tr> <td>13:15</td>  <td>Concluding Remarks and Awards</td> </tr>
      <tr> <td>13:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
